@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$Poppins: 'Poppins', sans-serif;

// colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: #7439db;
$bg: #171717;
$hint: #820000;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 100px;
