@import '../base/_mixins';
@import '../base/_variables';
.wrapper {
   display: flex;
   flex-wrap: wrap;
}
.ad-box {
   border: 1px $primary solid;
   border-radius: 32px;
   padding: 0.8rem;
   margin: 0.8rem;
   max-width: 30%;
   float: left;
   h2,
   div,
   small {
      padding: 0.8rem;
   }
   a {
      text-decoration: none;
      cursor: pointer;
      outline: none;
      padding: 0.75rem 1.25rem;
      border-radius: $borderRadius;
      font-size: 1rem;
      font-family: inherit;
      background: $primary-400;
      color: $light;
      border: 1px solid transparent;
      transition: 0.3s ease all;

      &:hover {
         border-color: $primary;
         background: rgba($primary, 0.1);
         color: $primary;
      }
      &:active {
         border-color: $primary;
         background: linear-gradient(rgba($primary, 0.2), rgba($primary, 0.3));
         color: $primary;
      }
   }
}
