@import '../base/_mixins';
@import '../base/_variables';
.ap-wrapper {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   margin: 0.8rem;
   h2 {
      margin: 0.8rem;
   }
}

.ad-info-box {
   // border: 1px orange solid;
   display: block;
   margin: 0.8rem;

   h2 {
      text-align: center;
      padding: 0.8rem;
   }

   h4,
   p,
   ul,
   li,
   div {
      margin: 0.2rem;
      padding: 0 0.8rem;
   }
}

.aplicant-box {
   margin: 0.2rem 0.8rem;
   border: 1px $primary solid;
   padding: 0.8rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   // max-width: 50%;
   float: inherit;

   .ap-button-group {
      display: inline;
      float: right;
   }
   button {
      margin: 0.4rem;
   }
   h2,
   div,
   small {
      padding: 0.8rem;
   }
   a {
      text-decoration: none;
      cursor: pointer;
      outline: none;
      padding: 0.75rem 1.25rem;
      border-radius: $borderRadius;
      font-size: 1rem;
      font-family: inherit;
      background: $primary-400;
      color: $light;
      border: 1px solid transparent;
      transition: 0.3s ease all;

      &:hover {
         border-color: $primary;
         background: rgba($primary, 0.1);
         color: $primary;
      }
      &:active {
         border-color: $primary;
         background: linear-gradient(rgba($primary, 0.2), rgba($primary, 0.3));
         color: $primary;
      }
   }
}

.modal {
   position: fixed;
   width: 25%;
   height: 25%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.8); /* Add a semi-transparent background */
   z-index: 9999; /* Ensure the modal appears on top of other elements */
   .dismiss-button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
   }
}

.modal-quest {
   position: fixed;
   width: 50%;
   height: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 0.8rem;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.8); /* Add a semi-transparent background */
   z-index: 9999; /* Ensure the modal appears on top of other elements */
   .quest-content {
      margin: 0.8rem;
   }
   button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
   }
}

.confirm-modal {
   position: fixed;
   width: 25%;
   height: 25%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.8); /* Add a semi-transparent background */
   z-index: 9999; /* Ensure the modal appears on top of other elements */
   .dismiss-button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
   }
   .remove-btn {
      margin: 0.8rem;
   }
}
